@model IEnumerable<HomeRenovtors.Models.QueryDetail>

@{
    ViewBag.Title = "allQuery";
}

<h2>View all Query</h2>
<p>All Customers Who have Contacted will appear below </p>
<br />
<img src="~/images/contact.png" />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>Delete</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("AdminZone","Login")">Back to Main </a>