@model IEnumerable<HomeRenovtors.Models.ServiceDetail>

@{
    ViewBag.Title = "allServices";
}

<h2>View Services</h2>

<p>
    @Html.ActionLink("Add New Services", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charges)
        </th>
        <th>Edit | Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charges)
        </td>
        <td>
            <span class="btn btn-warning">@Html.ActionLink("Edit", "Edit", new { id = item.id }) </span>|
            
            <span class="btn btn-warning">@Html.ActionLink("Delete", "Delete", new { id = item.id })</span>
</td>
    </tr>
}

</table>

<a href="@Url.Action("AdminZone","Login")">Back to Main </a>