@model IEnumerable<HomeRenovtors.Models.PaymentDetail>

@{
    ViewBag.Title = "allPayments";
}

<h2>All Payments Details</h2>

<p>
    @Html.ActionLink("Add Payment Details", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>Edit | Delete</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            <span class="btn btn-warning">    @Html.ActionLink("Edit", "Edit", new { id = item.id })</span> |
            
            <span class="btn btn-warning"> @Html.ActionLink("Delete", "Delete", new { id = item.id }) </span>
</td>
    </tr>
}

</table>

<a href="@Url.Action("AdminZone","Login")">Back to Main </a>